/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}


ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Bespoke styles 
*/

@font-face {
     font-family: SMGSans;
     src: url(SMGSans-Regular.woff) format("woff");
     font-weight: 100;
     font-style: normal;
     }

body {
	background: black;
    font-family: SMGSans;
    }

a, a:visited {
	color:black;
	background: yellow;
	text-decoration: none;
	opacity: 1;
	padding: 5px;
	}

a:hover {
	text-decoration: underline;
	}

#pix {
    height:100%;
    width: 100%;
    left: 0px;
    top: 0px;
    z-index: -10;
    float: left;
    position: absolute;
    }

#pix img {
    width: auto;
    height: 100%;
    }

#morepix {
    position: fixed;
    top: 0px;
    right: 0px;
    padding: 0px;
    z-index: -9;
    float: right;
    }

#morepix img  {
	opacity: 0.9;
	z-index: -8;
	}

#evenmorepix  {
	position: fixed;
	bottom:0px;
	left: 50%;
 	z-index: -7;   
	}

#evenmorepix img {
	opacity: 0.7;
	}

#fourthpix  {
	float:left;
	position:fixed;
	top:0px;
	left: 0px;
	padding:0;
	z-index: -6;
	}
	
#fourthpix img {
    opacity: 0.5;
    }
 	
#tags {
    padding-top: 48px;
    } 	
 	
#tags, #moretags, #evenmoretags, #fourthtags, #fifthtags, #sixthtag, #seventhtag, #eighthtag, #ninethtag, #tenthtag {
    font-size: 30px;
    color: white;
    margin-bottom: 2px;
    margin-left: 50%;
    text-transform: uppercase;
    font-weight: bold;
    z-index: 1000;
    padding-bottom: 10px;
    line-height: normal;
    }
	
#title {
    position: fixed;
    bottom: 15px;
    left: 10px;
    width: 90%;
    line-height: 1.5em;
    }
	
#reload {
    position: fixed;
    bottom: 15px;
    right: 10px;
    width: auto;
    }

#info {
    position:fixed;
    top:15px;
    right:10px;
    }

@media only screen and (max-width: 700px) {

#title, #reload, #info {
   font-size: 20px; 
    }
	 
#title {
    position: fixed;
    bottom: 15px;
    left: 10px;
    width:75%;
    line-height: 1.5em;
    }
    
 #tags, #moretags, #evenmoretags, #fourthtags, #fifthtags, #sixthtag, #seventhtag, #eighthtag, #ninethtag, #tenthtag {
    margin-left: 15px;
    } 
	
  }
